table img{
	width: 100px;
}
table td{
	width: 100px;
    border: 1px solid black;	
}

body{
	background-color: lightskyblue;
}

.home{
	overflow: auto;
}

#abt{
 margin-top:40px;
}

.addcol{
	background-color: lightcoral;
	border-radius: 10px;
}

.border{

	border: 1px solid black;	
}

#socio a img{
	width:10%;
}



footer{
	bottom: 30px;
	color: black;
}

